<h2> Manutenção de Clientes</h2>

<h4>Listagem de Clientes</h4>
<ul>
  <li *ngFor="let cliente of clientes">
   {{cliente.id}} - {{cliente.nome}} - {{cliente.cpf}} <span  (click)="excluir(cliente.id)">DELETE </span>  <span  (click)="editar(cliente)"> EDIT</span>


  </li>
</ul>

<button  (click)="novo()"> Novo</button>
<div *ngIf="cliente">
  <input placeholder="Nome" [(ngModel)]="cliente.nome">
  <br>
  <input placeholder="CPF" [(ngModel)]="cliente.cpf">
  <br>
  <button (click) ="salvar()">Salvar</button>

</div>
