<hr>

<h3>Exercicio - 02</h3>
<p>2. Crie um componente Angular capaz de exibir uma imagem dentre 4 possíveis, de acordo com o clique
  em 4 botões diferentes (cada botão deve exibir uma imagem e esconder as demais).</p>


  <button class="btn btn-dark m-1" (click)="imagem = 'imagem01'">imagem 01</button>
  <button class="btn btn-danger m-1" (click)="imagem = 'imagem02'">imagem 02</button>
  <button class="btn btn-primary m-1" (click)="imagem = 'imagem03'">imagem 03</button>

  <div [ngSwitch]="imagem">
    <br>
    <img *ngSwitchCase="'imagem01'" src="/assets/imagem01.png">
    <img *ngSwitchCase="'imagem02'" src="/assets/imagem02.png">
    <img *ngSwitchCase="'imagem03'" src="/assets/imagem03.png">
    <br>
    <div *ngSwitchDefault> <p>sem imagem por enquanto</p></div>
    <button class="btn btn-light" (click)="imagem = ''">tirar imagem</button>


  </div>
