li{
  list-style: none;
  padding: 5px;
  margin: 5px;

}
ul{
  display: flex;
  padding-inline-start: 0;
}
a{
  padding: 5px 15px 5px 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(134, 134, 134);
  border-radius: 20px;
  transition: all .5s;
}
a:hover{
  color: rgb(134, 134, 134);
  background-color:rgb(255, 255, 255);
  box-shadow: 10px 5px 50px black;

}
