<h3>Exercicio - 01</h3>
<p>1. Elabore um componente Angular capaz de ler nome e sobrenome em campos separados e exibir o
  nome completo num elemento de texto abaixo dos campos enquanto os valores são digitados nas
  caixas. O nome completo deve aparecer todo em letras minúsculas.</p>
<div class="container">
 <input  placeholder="Digite o nome" [(ngModel)]="nome" type="text">
  <br>
 <input placeholder="Digite o sobrenome"[(ngModel)]="sobrenome" type="text">
</div>
<div>

  <p>Seu nome é  <span class="text-primary bg-dark">{{nome}} </span> <span class="text-warning bg-dark">{{sobrenome}}</span>
  </p>
</div>

